
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Roulette</title>
  </head>
  <body>
    <h1>Let's Play Roulette!</h1>
      <section>
        <input class="color" type="text" name="color"      value="" placeholder='Please put in red or black'>

        <input class="amount "type="number" min="0"      name="amount" value="">

        <button class="button" type="submit"      name="button">Play</button>


      </section>
      <h2 class="result"></h2>



    <section class="path">
      <form class="" action="/path" method="get">
        <input class="owner" type="submit" name="" value="Casino Owner Login">
      </form>
      <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a> -->
      <!-- <a href="/signup" class="btn btn-default hide"><span class="fa fa-user"></span>signup</a> -->
    </section>
    <script type="text/javascript" src="main.js">

    </script>
  </body>
</html>
