<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="profile.css">
    <title>Roulette</title>
  </head>
  <body>

    <div class="col-sm-6">
            <h3>Owner Access</h3>
            <ul class="messages">
            <% for(var i=0; i<casino.length; i++) {%>
              <li class="message">

                <h2>Win: <%= casino[i].won %></h2>
                <h2>Loss: <%= casino[i].loss %></h2>
                <h2>Casino Money:<%=casino[i].casinoMoney %></h2>
              </li>
            <% } %>
            </ul>
            <section>
              <a href="/logout">Logout</a>
            </section>
  </body>
</html>
